@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {


    }
    body {

        font-family: 'Poppins', sans-serif;


    }
}

.action > :first-child:hover path {
    fill: #00ff15;
    transition: 0.5s;
}

.action > :nth-child(2):hover path {
    fill: #ff0000;
    transition: 0.5s;
}

.action > :nth-child(3):hover path {
    fill: #0082ff;
    transition: 0.5s;
}

.table-rows{
    height: 68vh;
}

.nav-btn{
    background: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: 0.5s;
}

